src/main/resources/resources/test.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.w3schools.com"
        elementFormDefault="qualified">
        <element name="person">
            <complexType>
                <sequence>
                    <element name="name" type="string"/>
                    <element name="age" type="int"/>
                </sequence>
            </complexType>
        </element>
</schema>